.bg-pan{
    background-color: greenyellow;
}
.bg-cic{
    background-color: red;
}
.bg-mix{
    background-color:gray;
}
.bg-tod{
    background-color: yellow;
}
.txtcol{
    color: azure;
}
.bgchg{
    background-color: maroon;
    color:white;
}
